/* <editor-fold> General styling */

html {
  font-family: Fira Sans;
  font-weight: 300;
  background-color: #F8F8F8;
}

body {
  margin: 0px;
}

h1 {
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 5px;
  margin-top: 10px;
}

footer {
  font-weight: 400;
  background-color: #F8F8F8;
  color: #194158;
  padding: 20px;
  margin: 0px;
  margin-top: 10px;
}

.hline {
  height: 15px;
  width: 100%;
  border-bottom: 0.5px solid black;
  margin-left: auto;
  margin-right: auto;
}

.tc {
  text-align: center;
}

.tt {
  font-family: Fira Mono;
}

.cc {
  color: #478fcc;
}

.ct {
  color: #3C9678;
}

/* link styling */
/* unvisited link */
a:link {
  color: #478fcc;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #3C9678;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
}

/* selected link */
a:active {
  text-decoration: underline;
}

.anititle {
  font-family: Fira Mono;
  text-align: center;
  margin-top: 50px;
}

.mainbox {
  display: block;
  padding-left: 18%;
  padding-right: 18%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px){
  .mainbox {
    display: block;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
  }
}

.spacer {
  margin-top: 25px;
}

#totop {
  bottom: 0;
  right: 0;
  width: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
  position: fixed;
  fill: grey;
  opacity: 0;
  transition-duration: 0.7s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(.59, .01, .39, .97);
}

#totop.show {
  opacity: 1;
}

#totop:hover {
  cursor: pointer;
  fill: #478fcc;
}

.svgcontainer {
  max-width: 512px;
  max-height: 512px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px
}

.svgcontainer.small {
  max-width: 256px;
  max-height: 256px;
}

.svgcontainer.medium {
  max-width: 348px;
  max-height: 348px;
}

.svgcontainer.wide {
  max-width: 512px;
  max-height: 256px;
}


/* </editor-fold> */


/* <editor-fold> flash */

.st0 {
  fill: #6ABD45;
  stroke: #6ABD45;
}

.logo {
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition-timing-function: cubic-bezier(.59, .01, .39, .97);
          transition-timing-function: cubic-bezier(.59, .01, .39, .97);
}

.logo.twist {
  -webkit-transform: rotate(98.5deg);
          transform: rotate(98.5deg);
}

.p2 {
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(.59, .01, .39, .97);
          transition-timing-function: cubic-bezier(.59, .01, .39, .97);
}

.p2.shove {
  -webkit-transform: translate(-18px, 108px);
          transform: translate(-18px, 108px);
}

.p1 {
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(.59, .01, .39, .97);
          transition-timing-function: cubic-bezier(.59, .01, .39, .97);
}

.p1.shove {
  -webkit-transform: translate(18px, -108px);
          transform: translate(18px, -108px);
}


/* </editor-fold> */


/* <editor-fold> Guitzli */

.cls-3 {
  -webkit-mask: url(#mask);
          mask: url(#mask);
}

.cls-1 {
  fill: #fff;
}

.bg {
  fill: #eee;
  -webkit-transform: translate(-120px, -120px) rotate(-60deg);
          transform: translate(-120px, -120px) rotate(-60deg);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transform-origin: 0% 25%;
          transform-origin: 0% 25%;
  -webkit-transition-timing-function: cubic-bezier(.59, .01, .39, .97);
          transition-timing-function: cubic-bezier(.59, .01, .39, .97);
  width: 0%;
  height: 0%;
}

.bg.show {
  -webkit-transform: translate(0px, 0px) rotate(0deg);
          transform: translate(0px, 0px) rotate(0deg);
}

.grey {
  fill: #263238;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transform: rotate(31deg) translateX(80px);
          transform: rotate(31deg) translateX(80px);
  -webkit-transition-timing-function: cubic-bezier(.59, .01, .39, .97);
          transition-timing-function: cubic-bezier(.59, .01, .39, .97);
  -webkit-filter: url(#dropshadowgrey);
          filter: url(#dropshadowgrey);
}

.blue {
  fill: #0bbcd4;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transform-origin: 53.592% 100%;
          transform-origin: 53.592% 100%;
  -webkit-transform: rotate(61deg) translateX(80px);
          transform: rotate(61deg) translateX(80px);
  -webkit-transition-timing-function: cubic-bezier(.59, .01, .39, .97);
          transition-timing-function: cubic-bezier(.59, .01, .39, .97);
  -webkit-filter: url(#dropshadowblue);
          filter: url(#dropshadowblue);
}

.red {
  fill: #ef4438;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-property: -webkit-filter transform -webkit-filter;
  transition-property: -webkit-filter transform -webkit-filter;
  transition-property: filter transform -webkit-filter;
  transition-property: filter transform -webkit-filter, -webkit-filter transform -webkit-filter;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transform: rotate(91deg) translateX(80px);
          transform: rotate(91deg) translateX(80px);
  -webkit-transition-timing-function: cubic-bezier(.59, .01, .39, .97);
          transition-timing-function: cubic-bezier(.59, .01, .39, .97);
  -webkit-filter: url(#dropshadowred);
          filter: url(#dropshadowred);
}

.grey.show {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.blue.show {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.red.show {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}


/* </editor-fold> */


/* <editor-fold> Loading wave */

.circ.wave {
  -webkit-animation: wave 1.5s infinite linear;
          animation: wave 1.5s infinite linear;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.circ.turn {
  -webkit-animation: turn 1.5s infinite linear;
          animation: turn 1.5s infinite linear;
  -webkit-transform-origin: -10% -10%;
          transform-origin: -10% -10%;
}

.c1 {
  fill: #194158;
}

.c2 {
  fill: #E83F6F;
}

.c3 {
  fill: #B47025;
}

.c4 {
  fill: #E6CCCB;
}

.c5 {
  fill: #0D1F22;
}

.c6 {
  fill: #32936F;
}

.c7 {
  fill: #FFBF00;
}

.c1.wave, .c1.turn {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.c2.wave, .c2.turn {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.c3.wave, .c3.turn {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.c4.wave, .c4.turn {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.c5.wave, .c5.turn {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.c6.wave, .c6.turn {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.c7.wave, .c7.turn {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  15% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  33% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  36% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
}

@keyframes wave {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  15% {
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  33% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  36% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
}

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  36% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
}

@keyframes turn {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  36% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
}

/* </editor-fold> */


/* <editor-fold> Wobbly motion */
.fivedots {
  -webkit-transform: translate(250px, 250px);
          transform: translate(250px, 250px);
  -webkit-transform-origin: 250px 250px;
          transform-origin: 250px 250px;
}

.rotator.anim {
  -webkit-animation: rotate 5s infinite ease-in-out;
          animation: rotate 5s infinite ease-in-out;
}

.dot {
  -webkit-transform-origin: 0px 100px;
          transform-origin: 0px 100px;
}

.dot-1 {
  fill:#009789;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.dot-2 {
  fill: #4daf4e;
  -webkit-transform: translateY(-100px) rotate(72deg);
          transform: translateY(-100px) rotate(72deg);
}

.dot-3 {
  fill:#fec111;
  -webkit-transform: translateY(-100px) rotate(144deg);
          transform: translateY(-100px) rotate(144deg);
}

.dot-4 {
  fill:#f06392;
  -webkit-transform: translateY(-100px) rotate(216deg);
          transform: translateY(-100px) rotate(216deg);
}

.dot-5 {
  fill:#478fcc;
  -webkit-transform: translateY(-100px) rotate(288deg);
          transform: translateY(-100px) rotate(288deg);
}

.dot-1.anim {  
  -webkit-animation: inout1 2s infinite ease-in-out 0.05s;  
          animation: inout1 2s infinite ease-in-out 0.05s;
}
.dot-2.anim {  
  -webkit-animation: inout2 2s infinite ease-in-out 0.1s;  
          animation: inout2 2s infinite ease-in-out 0.1s;
}
.dot-3.anim {  
  -webkit-animation: inout3 2s infinite ease-in-out 0.15s;  
          animation: inout3 2s infinite ease-in-out 0.15s;
}
.dot-4.anim {  
  -webkit-animation: inout4 2s infinite ease-in-out 0.2s;  
          animation: inout4 2s infinite ease-in-out 0.2s;
}
.dot-5.anim {  
  -webkit-animation: inout5 2s infinite ease-in-out 0.25s;  
          animation: inout5 2s infinite ease-in-out 0.25s;
}


@-webkit-keyframes inout1 {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  12.5% {
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
  }
  25% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }
  50% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  62.5% {
    -webkit-transform: translateY(-125px);
            transform: translateY(-125px);
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
  }
  75% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }
}

@keyframes inout1 {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  12.5% {
    -webkit-transform: translateY(-75px);
            transform: translateY(-75px);
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
  }
  25% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }
  50% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  62.5% {
    -webkit-transform: translateY(-125px);
            transform: translateY(-125px);
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
  }
  75% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
  }
}

@-webkit-keyframes inout2 {
  0% {
    -webkit-transform: translateY(-100px) rotate(72deg);
            transform: translateY(-100px) rotate(72deg);
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  12.5% {
    -webkit-transform: translateY(-125px) rotate(72deg);
            transform: translateY(-125px) rotate(72deg);
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transform-origin: 0px 125px;
            transform-origin: 0px 125px; 
  }
  25% {
    -webkit-transform: translateY(-100px) rotate(72deg);
            transform: translateY(-100px) rotate(72deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transform-origin: 0px 100px;
            transform-origin: 0px 100px; 
  }
  50% {
    -webkit-transform: translateY(-100px) rotate(72deg);
            transform: translateY(-100px) rotate(72deg);
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transform-origin: 0px 100px;
            transform-origin: 0px 100px; 
  }
  62.5% {
    -webkit-transform: translateY(-75px) rotate(72deg);
            transform: translateY(-75px) rotate(72deg);
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transform-origin: 0px 75px;
            transform-origin: 0px 75px; 
  }
  75% {
    -webkit-transform: translateY(-100px) rotate(72deg);
            transform: translateY(-100px) rotate(72deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transform-origin: 0px 100px;
            transform-origin: 0px 100px; 
  }  
}

@keyframes inout2 {
  0% {
    -webkit-transform: translateY(-100px) rotate(72deg);
            transform: translateY(-100px) rotate(72deg);
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  12.5% {
    -webkit-transform: translateY(-125px) rotate(72deg);
            transform: translateY(-125px) rotate(72deg);
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transform-origin: 0px 125px;
            transform-origin: 0px 125px; 
  }
  25% {
    -webkit-transform: translateY(-100px) rotate(72deg);
            transform: translateY(-100px) rotate(72deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transform-origin: 0px 100px;
            transform-origin: 0px 100px; 
  }
  50% {
    -webkit-transform: translateY(-100px) rotate(72deg);
            transform: translateY(-100px) rotate(72deg);
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transform-origin: 0px 100px;
            transform-origin: 0px 100px; 
  }
  62.5% {
    -webkit-transform: translateY(-75px) rotate(72deg);
            transform: translateY(-75px) rotate(72deg);
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transform-origin: 0px 75px;
            transform-origin: 0px 75px; 
  }
  75% {
    -webkit-transform: translateY(-100px) rotate(72deg);
            transform: translateY(-100px) rotate(72deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transform-origin: 0px 100px;
            transform-origin: 0px 100px; 
  }  
}

@-webkit-keyframes inout3 {
  0% {
    -webkit-transform: translateY(-100px) rotate(144deg);
            transform: translateY(-100px) rotate(144deg);
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  12.5% {
    -webkit-transform: translateY(-75px) rotate(144deg);
            transform: translateY(-75px) rotate(144deg);
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transform-origin: 0px 75px;
            transform-origin: 0px 75px; 
  }
  25% {
    -webkit-transform: translateY(-100px) rotate(144deg);
            transform: translateY(-100px) rotate(144deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transform-origin: 0px 100px;
            transform-origin: 0px 100px; 
  }
  50% {
    -webkit-transform: translateY(-100px) rotate(144deg);
            transform: translateY(-100px) rotate(144deg);
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transform-origin: 0px 100px;
            transform-origin: 0px 100px; 
  }
  62.5% {
    -webkit-transform: translateY(-125px) rotate(144deg);
            transform: translateY(-125px) rotate(144deg);
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transform-origin: 0px 125px;
            transform-origin: 0px 125px; 
  }
  75% {
    -webkit-transform: translateY(-100px) rotate(144deg);
            transform: translateY(-100px) rotate(144deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transform-origin: 0px 100px;
            transform-origin: 0px 100px; 
  }
}

@keyframes inout3 {
  0% {
    -webkit-transform: translateY(-100px) rotate(144deg);
            transform: translateY(-100px) rotate(144deg);
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  12.5% {
    -webkit-transform: translateY(-75px) rotate(144deg);
            transform: translateY(-75px) rotate(144deg);
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transform-origin: 0px 75px;
            transform-origin: 0px 75px; 
  }
  25% {
    -webkit-transform: translateY(-100px) rotate(144deg);
            transform: translateY(-100px) rotate(144deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transform-origin: 0px 100px;
            transform-origin: 0px 100px; 
  }
  50% {
    -webkit-transform: translateY(-100px) rotate(144deg);
            transform: translateY(-100px) rotate(144deg);
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transform-origin: 0px 100px;
            transform-origin: 0px 100px; 
  }
  62.5% {
    -webkit-transform: translateY(-125px) rotate(144deg);
            transform: translateY(-125px) rotate(144deg);
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transform-origin: 0px 125px;
            transform-origin: 0px 125px; 
  }
  75% {
    -webkit-transform: translateY(-100px) rotate(144deg);
            transform: translateY(-100px) rotate(144deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transform-origin: 0px 100px;
            transform-origin: 0px 100px; 
  }
}

@-webkit-keyframes inout4 {
  0% {
    -webkit-transform: translateY(-100px) rotate(216deg);
            transform: translateY(-100px) rotate(216deg);
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  12.5% {
    -webkit-transform: translateY(-125px) rotate(216deg);
            transform: translateY(-125px) rotate(216deg);
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transform-origin: 0px 125px;
            transform-origin: 0px 125px; 
  }
  25% {
    -webkit-transform: translateY(-100px) rotate(216deg);
            transform: translateY(-100px) rotate(216deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transform-origin: 0px 100px;
            transform-origin: 0px 100px; 
  }
  50% {
    -webkit-transform: translateY(-100px) rotate(216deg);
            transform: translateY(-100px) rotate(216deg);
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transform-origin: 0px 100px;
            transform-origin: 0px 100px; 
  }
  62.5% {
    -webkit-transform: translateY(-75px) rotate(216deg);
            transform: translateY(-75px) rotate(216deg);
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transform-origin: 0px 75px;
            transform-origin: 0px 75px; 
  }
  75% {
    -webkit-transform: translateY(-100px) rotate(216deg);
            transform: translateY(-100px) rotate(216deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transform-origin: 0px 100px;
            transform-origin: 0px 100px; 
  }
}

@keyframes inout4 {
  0% {
    -webkit-transform: translateY(-100px) rotate(216deg);
            transform: translateY(-100px) rotate(216deg);
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  12.5% {
    -webkit-transform: translateY(-125px) rotate(216deg);
            transform: translateY(-125px) rotate(216deg);
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transform-origin: 0px 125px;
            transform-origin: 0px 125px; 
  }
  25% {
    -webkit-transform: translateY(-100px) rotate(216deg);
            transform: translateY(-100px) rotate(216deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transform-origin: 0px 100px;
            transform-origin: 0px 100px; 
  }
  50% {
    -webkit-transform: translateY(-100px) rotate(216deg);
            transform: translateY(-100px) rotate(216deg);
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transform-origin: 0px 100px;
            transform-origin: 0px 100px; 
  }
  62.5% {
    -webkit-transform: translateY(-75px) rotate(216deg);
            transform: translateY(-75px) rotate(216deg);
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transform-origin: 0px 75px;
            transform-origin: 0px 75px; 
  }
  75% {
    -webkit-transform: translateY(-100px) rotate(216deg);
            transform: translateY(-100px) rotate(216deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transform-origin: 0px 100px;
            transform-origin: 0px 100px; 
  }
}

@-webkit-keyframes inout5 {
  0% {
    -webkit-transform: translateY(-100px) rotate(288deg);
            transform: translateY(-100px) rotate(288deg);
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  12.5% {
    -webkit-transform: translateY(-75px) rotate(288deg);
            transform: translateY(-75px) rotate(288deg);
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transform-origin: 0px 75px;
            transform-origin: 0px 75px; 
  }
  25% {
    -webkit-transform: translateY(-100px) rotate(288deg);
            transform: translateY(-100px) rotate(288deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transform-origin: 0px 100px;
            transform-origin: 0px 100px; 
  }
  50% {
    -webkit-transform: translateY(-100px) rotate(288deg);
            transform: translateY(-100px) rotate(288deg);
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transform-origin: 0px 100px;
            transform-origin: 0px 100px; 
  }
  62.5% {
    -webkit-transform: translateY(-125px) rotate(288deg);
            transform: translateY(-125px) rotate(288deg);
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transform-origin: 0px 125px;
            transform-origin: 0px 125px; 
  }
  75% {
    -webkit-transform: translateY(-100px) rotate(288deg);
            transform: translateY(-100px) rotate(288deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transform-origin: 0px 100px;
            transform-origin: 0px 100px; 
  }
}

@keyframes inout5 {
  0% {
    -webkit-transform: translateY(-100px) rotate(288deg);
            transform: translateY(-100px) rotate(288deg);
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  12.5% {
    -webkit-transform: translateY(-75px) rotate(288deg);
            transform: translateY(-75px) rotate(288deg);
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transform-origin: 0px 75px;
            transform-origin: 0px 75px; 
  }
  25% {
    -webkit-transform: translateY(-100px) rotate(288deg);
            transform: translateY(-100px) rotate(288deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transform-origin: 0px 100px;
            transform-origin: 0px 100px; 
  }
  50% {
    -webkit-transform: translateY(-100px) rotate(288deg);
            transform: translateY(-100px) rotate(288deg);
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transform-origin: 0px 100px;
            transform-origin: 0px 100px; 
  }
  62.5% {
    -webkit-transform: translateY(-125px) rotate(288deg);
            transform: translateY(-125px) rotate(288deg);
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transform-origin: 0px 125px;
            transform-origin: 0px 125px; 
  }
  75% {
    -webkit-transform: translateY(-100px) rotate(288deg);
            transform: translateY(-100px) rotate(288deg);
    -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
    -webkit-transform-origin: 0px 100px;
            transform-origin: 0px 100px; 
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  10% {
    -webkit-transform: rotate(72deg);
            transform: rotate(72deg);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  20% {
    -webkit-transform: rotate(72deg);
            transform: rotate(72deg);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  30% {
    -webkit-transform: rotate(144deg);
            transform: rotate(144deg);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  40% {
    -webkit-transform: rotate(144deg);
            transform: rotate(144deg);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  50% {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  60% {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  70% {
    -webkit-transform: rotate(288deg);
            transform: rotate(288deg);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  80% {
    -webkit-transform: rotate(288deg);
            transform: rotate(288deg);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  90% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  10% {
    -webkit-transform: rotate(72deg);
            transform: rotate(72deg);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  20% {
    -webkit-transform: rotate(72deg);
            transform: rotate(72deg);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  30% {
    -webkit-transform: rotate(144deg);
            transform: rotate(144deg);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  40% {
    -webkit-transform: rotate(144deg);
            transform: rotate(144deg);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  50% {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  60% {
    -webkit-transform: rotate(216deg);
            transform: rotate(216deg);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  70% {
    -webkit-transform: rotate(288deg);
            transform: rotate(288deg);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  80% {
    -webkit-transform: rotate(288deg);
            transform: rotate(288deg);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  90% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
  }
}

/* </editor-fold> */

/* <editor-fold> Shapeshift */

#shape {
  transform-origin: center;
}

/* </editor-fold> */

/* <editor-fold> Shuttle loop */

.scaffold {
  fill: rgba(255,255,255,0);
  stroke: #394D42;
  stroke-width: 5;
}

.track {
  fill: rgba(255,255,255,0);
  stroke: #2247A3;
  stroke-width: 5;
}

.station {
  fill: #C99C54;
  stroke: #513F22;
  stroke-width: 5;
}

.building {
  fill: #E3D8B1;
  stroke: #513F22;
  stroke-width: 5;
}

.roof {
  fill: #DF606A;
  stroke: #513F22;
  stroke-width: 5;
}

.door {
  fill: #394D42;
  stroke: #513F22;
  stroke-width: 5;
}

.window {
  fill: #353D62;
  stroke: #513F22;
  stroke-width: 0;
}

.banner {
  fill: #394D42;
  stroke-width: 0;
}

.shuttletext {
  fill: #ABABAB;
  stroke-width: 0;
  font-family: Fira Sans;
  font-weight: 500;
  font-size: 0.8rem;
}

.exit {
  transform: translateX(190px);
}


#tracktxt {
  font-family: Fira Sans;
  font-weight: 600;
  fill: #f06392;
  font-size: 4rem;
}

#car {
  transform: translate(-24px,-27.5px);
  stroke: #12551C;
  stroke-width: 5;
  fill: #209B32;
}

#carbox {
  transform-origin: 50% 50%;
}

@keyframes yaxis {
  0% {
    transform: translateY(0px);
    
    animation-timing-function: ease-in;
  }
  25% {
    transform: translateY(300px);
  }
  75% {
    transform: translateY(300px);
    
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    
  }
}

@keyframes xaxis {
  0% {
    transform: translateX(0px);
    animation-timing-function: ease-in;
  }
  30% {
    transform: translateX(180px);
  }
  70% {
    transform: translateX(820px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateX(1000px);
  }
}


/* </editor-fold> */

/* <editor-fold> More overall stuff */

#loctext, #arrayprt {
  fill: #343434;
  stroke-width: 0;
  font-size: 1.5rem;
}

/* </editor-fold> */

/* <editor-fold> More overall stuff */
.systemfont {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
}
/* </editor-fold> */
