/* <editor-fold> General styling */

html {
  font-family: Fira Sans;
  font-weight: 300;
  background-color: #F8F8F8;
}

body {
  margin: 0px;
}

h1 {
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 5px;
  margin-top: 10px;
}

footer {
  font-weight: 400;
  background-color: #F8F8F8;
  color: #194158;
  padding: 20px;
  margin: 0px;
  margin-top: 10px;
}

.hline {
  height: 15px;
  width: 70%;
  border-bottom: 0.5px solid black;
  margin-left: auto;
  margin-right: auto;
}

.tc {
  text-align: center;
}

.tt {
  font-family: Fira Mono;
}

.anititle {
  font-family: Fira Mono;
  text-align: center;
  margin-top: 50px;
}

.mainbox {
  display: block;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: auto;
  margin-right: auto;
}

.spacer {
  margin-top: 25px;
}

.svgcontainer {
  max-width: 256px;
  max-height: 256px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px
}

.svgcontainer.small {
  max-width: 128px;
  max-height: 128px;
}

.svgcontainer.medium {
  max-width: 192px;
  max-height: 192px;
}

.svgcontainer.wide {
  max-width: 256px;
  max-height: 128px;
}


/* </editor-fold> */


/* <editor-fold> flash*/

.st0 {
  fill: #6ABD45;
  stroke: #6ABD45;
}

.logo {
  transition-duration: 0.7s;
  transition-property: transform;
  transform-origin: 50% 50%;
  transition-timing-function: cubic-bezier(.59, .01, .39, .97);
}

.logo.twist {
  transform: rotate(98.5deg);
}

.p2 {
  transition-duration: 0.6s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(.59, .01, .39, .97);
}

.p2.shove {
  transform: translate(-18px, 108px);
}

.p1 {
  transition-duration: 0.6s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(.59, .01, .39, .97);
}

.p1.shove {
  transform: translate(18px, -108px);
}


/* </editor-fold> */


/* <editor-fold> Guitzli*/

.cls-3 {
  mask: url(#mask);
}

.cls-1 {
  fill: #fff;
}

.bg {
  fill: #eee;
  transform: translate(-120px, -120px) rotate(-60deg);
  transition-duration: 0.3s;
  transition-property: all;
  transform-origin: 0% 25%;
  transition-timing-function: cubic-bezier(.59, .01, .39, .97);
  width: 0%;
  height: 0%;
}

.bg.show {
  transform: translate(0px, 0px) rotate(0deg);
}

.grey {
  fill: #263238;
  transition-duration: 0.7s;
  transition-property: all;
  transform-origin: 0% 100%;
  transform: rotate(31deg) translateX(80px);
  transition-timing-function: cubic-bezier(.59, .01, .39, .97);
  filter: url(#dropshadowgrey);
}

.blue {
  fill: #0bbcd4;
  transition-duration: 0.7s;
  transition-property: all;
  transform-origin: 53.592% 100%;
  transform: rotate(61deg) translateX(80px);
  transition-timing-function: cubic-bezier(.59, .01, .39, .97);
  filter: url(#dropshadowblue);
}

.red {
  fill: #ef4438;
  transition-duration: 0.7s;
  transition-property: filter transform -webkit-filter;
  transform-origin: 100% 100%;
  transform: rotate(91deg) translateX(80px);
  transition-timing-function: cubic-bezier(.59, .01, .39, .97);
  filter: url(#dropshadowred);
}

.grey.show {
  transform: rotate(0deg);
}

.blue.show {
  transform: rotate(0deg);
}

.red.show {
  transform: rotate(0deg);
}


/* </editor-fold> */


/* <editor-fold> Loading wave*/

.circ.wave {
  animation: wave 1.5s infinite linear;
  transform-origin: center;
}

.circ.turn {
  animation: turn 1.5s infinite linear;
  transform-origin: -10% -10%;
}

.c1 {
  fill: #194158;
}

.c2 {
  fill: #E83F6F;
}

.c3 {
  fill: #B47025;
}

.c4 {
  fill: #E6CCCB;
}

.c5 {
  fill: #0D1F22;
}

.c6 {
  fill: #32936F;
}

.c7 {
  fill: #FFBF00;
}

.c1.wave, .c1.turn {
  animation-delay: 0s;
}

.c2.wave, .c2.turn {
  animation-delay: 0.1s;
}

.c3.wave, .c3.turn {
  animation-delay: 0.2s;
}

.c4.wave, .c4.turn {
  animation-delay: 0.3s;
}

.c5.wave, .c5.turn {
  animation-delay: 0.4s;
}

.c6.wave, .c6.turn {
  animation-delay: 0.5s;
}

.c7.wave, .c7.turn {
  animation-delay: 0.6s;
}

@keyframes wave {
  0% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  15% {
    transform: translateY(-200px);
    animation-timing-function: ease-in-out;
  }
  33% {
    transform: translateY(40px);
    animation-timing-function: ease-in-out;
  }
  36% {
    transform: translateY(0px);
    animation-timing-function: ease-in-out;
  }
}

@keyframes turn {
  0% {
    transform: rotate(0deg) scale(1);
    animation-timing-function: ease-in-out;
  }
  36% {
    transform: rotate(360deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1);
    animation-timing-function: ease-in-out;
  }
}

/* </editor-fold> */


/* <editor-fold> Dots */
.fivedots {
  transform: translate(250px, 250px);
  transform-origin: 250px 250px;
}

.rotator.anim {
  animation: rotate 5s infinite ease-in-out;
}

.dot {
  transform-origin: 0px 100px;
}

.dot-1 {
  fill:#009789;
  transform: translateY(-100px);
}

.dot-2 {
  fill: #4daf4e;
  transform: translateY(-100px) rotate(72deg);
}

.dot-3 {
  fill:#fec111;
  transform: translateY(-100px) rotate(144deg);
}

.dot-4 {
  fill:#f06392;
  transform: translateY(-100px) rotate(216deg);
}

.dot-5 {
  fill:#478fcc;
  transform: translateY(-100px) rotate(288deg);
}

.dot-1.anim {  
  animation: inout1 2s infinite ease-in-out 0.05s;
}
.dot-2.anim {  
  animation: inout2 2s infinite ease-in-out 0.1s;
}
.dot-3.anim {  
  animation: inout3 2s infinite ease-in-out 0.15s;
}
.dot-4.anim {  
  animation: inout4 2s infinite ease-in-out 0.2s;
}
.dot-5.anim {  
  animation: inout5 2s infinite ease-in-out 0.25s;
}


@keyframes inout1 {
  0% {
    transform: translateY(-100px);
    transition-timing-function: ease-out;
  }
  12.5% {
    transform: translateY(-75px);
    transition-timing-function: linear;
  }
  25% {
    transform: translateY(-100px);
    transition-timing-function: ease-in;
  }
  50% {
    transform: translateY(-100px);
    transition-timing-function: ease-out;
  }
  62.5% {
    transform: translateY(-125px);
    transition-timing-function: linear;
  }
  75% {
    transform: translateY(-100px);
    transition-timing-function: ease-in;
  }
}

@keyframes inout2 {
  0% {
    transform: translateY(-100px) rotate(72deg);
    transition-timing-function: ease-out;
  }
  12.5% {
    transform: translateY(-125px) rotate(72deg);
    transition-timing-function: linear;
    transform-origin: 0px 125px; 
  }
  25% {
    transform: translateY(-100px) rotate(72deg);
    transition-timing-function: ease-in;
    transform-origin: 0px 100px; 
  }
  50% {
    transform: translateY(-100px) rotate(72deg);
    transition-timing-function: ease-out;
    transform-origin: 0px 100px; 
  }
  62.5% {
    transform: translateY(-75px) rotate(72deg);
    transition-timing-function: linear;
    transform-origin: 0px 75px; 
  }
  75% {
    transform: translateY(-100px) rotate(72deg);
    transition-timing-function: ease-in;
    transform-origin: 0px 100px; 
  }  
}

@keyframes inout3 {
  0% {
    transform: translateY(-100px) rotate(144deg);
    transition-timing-function: ease-out;
  }
  12.5% {
    transform: translateY(-75px) rotate(144deg);
    transition-timing-function: linear;
    transform-origin: 0px 75px; 
  }
  25% {
    transform: translateY(-100px) rotate(144deg);
    transition-timing-function: ease-in;
    transform-origin: 0px 100px; 
  }
  50% {
    transform: translateY(-100px) rotate(144deg);
    transition-timing-function: ease-out;
    transform-origin: 0px 100px; 
  }
  62.5% {
    transform: translateY(-125px) rotate(144deg);
    transition-timing-function: linear;
    transform-origin: 0px 125px; 
  }
  75% {
    transform: translateY(-100px) rotate(144deg);
    transition-timing-function: ease-in;
    transform-origin: 0px 100px; 
  }
}

@keyframes inout4 {
  0% {
    transform: translateY(-100px) rotate(216deg);
    transition-timing-function: ease-out;
  }
  12.5% {
    transform: translateY(-125px) rotate(216deg);
    transition-timing-function: linear;
    transform-origin: 0px 125px; 
  }
  25% {
    transform: translateY(-100px) rotate(216deg);
    transition-timing-function: ease-in;
    transform-origin: 0px 100px; 
  }
  50% {
    transform: translateY(-100px) rotate(216deg);
    transition-timing-function: ease-out;
    transform-origin: 0px 100px; 
  }
  62.5% {
    transform: translateY(-75px) rotate(216deg);
    transition-timing-function: linear;
    transform-origin: 0px 75px; 
  }
  75% {
    transform: translateY(-100px) rotate(216deg);
    transition-timing-function: ease-in;
    transform-origin: 0px 100px; 
  }
}

@keyframes inout5 {
  0% {
    transform: translateY(-100px) rotate(288deg);
    transition-timing-function: ease-out;
  }
  12.5% {
    transform: translateY(-75px) rotate(288deg);
    transition-timing-function: linear;
    transform-origin: 0px 75px; 
  }
  25% {
    transform: translateY(-100px) rotate(288deg);
    transition-timing-function: ease-in;
    transform-origin: 0px 100px; 
  }
  50% {
    transform: translateY(-100px) rotate(288deg);
    transition-timing-function: ease-out;
    transform-origin: 0px 100px; 
  }
  62.5% {
    transform: translateY(-125px) rotate(288deg);
    transition-timing-function: linear;
    transform-origin: 0px 125px; 
  }
  75% {
    transform: translateY(-100px) rotate(288deg);
    transition-timing-function: ease-in;
    transform-origin: 0px 100px; 
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    transition-timing-function: ease-in-out;
  }
  10% {
    transform: rotate(72deg);
    transition-timing-function: ease-in-out;
  }
  20% {
    transform: rotate(72deg);
    transition-timing-function: ease-in-out;
  }
  30% {
    transform: rotate(144deg);
    transition-timing-function: ease-in-out;
  }
  40% {
    transform: rotate(144deg);
    transition-timing-function: ease-in-out;
  }
  50% {
    transform: rotate(216deg);
    transition-timing-function: ease-in-out;
  }
  60% {
    transform: rotate(216deg);
    transition-timing-function: ease-in-out;
  }
  70% {
    transform: rotate(288deg);
    transition-timing-function: ease-in-out;
  }
  80% {
    transform: rotate(288deg);
    transition-timing-function: ease-in-out;
  }
  90% {
    transform: rotate(360deg);
    transition-timing-function: ease-in-out;
  }
  100% {
    transform: rotate(360deg);
    transition-timing-function: ease-in-out;
  }
}

/* </editor-fold> */

/* <editor-fold> More overall stuff */
.systemfont {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
/* </editor-fold> */
